body {
  background-color: cadetblue;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  padding: 10px 30px;
  display: flex;
}

.left-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hangman-container {
  position: relative;
  width: 500px;
  height: 500px;
}

.pillar {
  position: relative;
  left: 10%;
  overflow: hidden;
}

.pillar img {
  width: 300px;
  height: 500px;
  pointer-events: none;
  overflow: hidden;
}

.hangman-1 {
  opacity: 0;
  position: relative;
  bottom: 405px;
  left: 260px;
}
.hangman-2 {
  opacity: 0;
  position: relative;
  bottom: 278px;
  left: 205px;
}
.hangman-3 {
  opacity: 0;
  position: relative;
  bottom: 320px;
  left: 138px;
}
.hangman-4 {
  opacity: 0;
  position: relative;
  bottom: 320px;
  left: 131px;
}
.hangman-5 {
  opacity: 0;
  position: relative;
  bottom: 200px;
}
.hangman-6 {
  opacity: 0;
  position: relative;
  bottom: 200px;
  left: -3px;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.words-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secret-key-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

h3 {
  display: flex;
  justify-content: center;
}
.shift-key {
  font-size: 3rem;
}

/* KeyBoard UI */
.keyboard-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 170px;
  padding: 20px;
  border-radius: 5px;
  background-color: #0d1b2a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 10px;
  /* bottom: 0;
    right: 0; */
}
.keyboard-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.key {
  list-style-type: none;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #415a77;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: white;
}



.modal-section{
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden
}

.modal {
  position: fixed; /* Change from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 300px;
  padding: 1rem;
  min-height: 150px;
  background-color: white;
  border-radius: 15px;
}

.btn {
  cursor: pointer;
  border: none;
  font-weight: 600;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  overflow: hidden;
}


.modal {
  z-index: 2;
}

.hidden {
  display: none;
}
@media (max-width: 1024px) {
  .container {
    display: block;
  }
  .right-container {
    width: 100%;
  }
  .left-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* .hangman-container{
    height: 300px;} */
}

@media (max-width: 576px) {
  body {
    width: 400px;
    height: 300px;
  }

  .keyboard-container {
    width: 100%;
  }

  .hangman-container{
    object-fit: fill;
    overflow: hidden;
    /* width: 300px;
    height: 200px; */
  }
  .hangman-container img{
    /* width: 100%;
    height: 100%; */
  }
}
@media (max-width: 380px) {
}

